<!DOCTYPE html>
<html>
<head>
    <title>Начать тест</title>
</head>
<body>
    <h1>Начать тест: {{ тест.name }}</h1>
    <form method="post" action="{% url 'отправить_тест' тест.id %}">
        {% csrf_token %}
        {% for вопрос in вопросы %}
            <h2>{{ вопрос.text }}</h2>
            {% for вариант in вопрос.answer_choices %}
                <input type="radio" name="вопрос_{{ вопрос.id }}" value="{{ вариант }}">{{ вариант }}<br>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Завершить тест">
    </form>
</body>
</html>
